$primary_color: #cfa160;
// $primary_color_rgb: rgba($primary_color, 0.5);
$secondary_color: #333C4B;
$white_color: #ffffff;
$black_color: #000000;
$white_light_color: #f6f6f6;
$white_light_color2: #cfcfcf;
