@import "variable";

@import "theme_colors";

@import "fonts";

@import "mixin";

/*===== Common Start =====*/
:root {
    --uc-primary-color: #{$primary_color};
    --uc-secondary-color: #{$secondary_color};
    --uc-white-light-color: #{$white_light_color};
    --uc-white-light-color2: #{$white_light_color2};
    --uc-white-color: #{$white_color};
    --uc-black-color: #{$black_color};
    --uc-box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
    --uc-text-shadow: 2px 2px 0 rgb(0 0 0 / 30%);
    --uc-primary-font-family: #{$primary_font};
    --uc-secondary-font-family: #{$secondary_font};
    --uc-transition-duration: 0.8s;
    --uc-transition-timing-function: cubic-bezier(0.22, 0.78, 0.45, 1.02);
    --uc-transition2-duration: 0.5s;
    --uc-transition2-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
    --uc-spacing: 100px;
    --uc-spacing-y: 100px;
    --uc-header-height: 100px;
    --uc-spacing-x: clamp(80px, 5.209vw, 100px);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden !important;
}

body {
    margin: 0;
    font-family: var(--uc-primary-font-family);
    background-image: $body_img;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    @include list_reset;
}

.back_img {
    @include back_img();
}

a {
    color: var(--uc-primary-color);
    transition: var(--uc-transition-duration) var(--uc-transition-timing-function);
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
}

/*===== Common End =====*/

/*===== Body Lines Start =====*/
.body-lines {
    .body-line-hor {
        --uc-body-line-count: calc(100% / 2);
        position: fixed;
        top: 0;
        left: calc(var(--uc-body-line) * var(--uc-body-line-count));
        width: 1px;
        height: 100%;
        background-color: rgba($white_light_color2, 0.5);
        z-index: 5;

        &:first-child {
            left: var(--uc-spacing-x);
        }
        &:last-child {
            left: calc(100% - var(--uc-spacing-x));
        }
    }
}
/*===== Body Lines End =====*/

/*===== Header Start =====*/

.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--uc-header-height);
    transition: var(--uc-transition-duration) var(--uc-transition-timing-function);
    background-image: $body_img;
    background-repeat: repeat;
    z-index: 100;

    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: rgba($white_light_color2, 0.5);
    }

    & > .container-fluid {
        height: 100%;

        & > .row {
            height: 100%;

            & > [class*="col"] {
                height: 100%;
            }
        }
    }
}

.site-branding {
    width: 100%;
    height: 100%;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 100%;
        width: 1px;
        height: 100%;
        background: rgba($white_light_color2, 0.5);
        transform-origin: right bottom;
        transform: scaleY(1);
        transition: var(--uc-transition);
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: var(--uc-spacing-x);
        height: 100%;
        padding: 10px 15px;

        img {
            width: 50px;
        }
    }
}

.site-navigation-box {
    height: 100%;
    position: relative;
    padding: 0 calc(var(--uc-spacing-x) / 4.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-navigation-logo {
    a {
        display: block;
        width: 200px;

        img {
            display: block;
            width: 100%;
        }
    }
}

.site-navigation {
    height: 100%;

    nav {
        height: 100%;
        position: relative;

        & > ul {
            --bs-gutter-x: clamp(18px, 1.5vw, 40px);
            margin-right: calc(-0.5 * var(--bs-gutter-x));
            margin-left: calc(-0.5 * var(--bs-gutter-x));
            height: 100%;
            display: flex;

            & > li {
                margin-right: calc(0.5 * var(--bs-gutter-x));
                margin-left: calc(0.5 * var(--bs-gutter-x));
                height: 100%;
                position: relative;
                display: flex;
                align-items: center;

                &:before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    transform: scaleX(0);
                    transform-origin: bottom left;
                    background: var(--uc-secondary-color);
                    transition: var(--uc-transition-duration) var(--uc-transition-timing-function);
                }

                &:hover::before,
                &.header-menu-active::before {
                    transform: scaleX(1);
                }

                & > a {
                    height: 100%;
                    position: relative;
                    display: inline-flex;
                    align-items: center;
                    color: var(--uc-secondary-color);
                    font-family: var(--uc-secondary-font-family);
                    font-weight: 600;
                    letter-spacing: 1px;
                }

                &:hover > a,
                &.header-menu-active a {
                    color: var(--uc-primary-color);
                }
            }
        }
    }
}

.site-navigation nav ul.sub-menu {
    position: absolute;
    width: 200px;
    z-index: 10;
    top: 100%;
    left: 0;
    transform: translateY(15px);
    padding: 7px 0;
    background: var(--uc-white-color);
    -webkit-box-shadow: var(--uc-box-shadow);
    box-shadow: var(--uc-box-shadow);
    display: inline-block;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: var(--uc-transition-duration) var(--uc-transition-timing-function);
}

.site-navigation nav > ul > li:hover .sub-menu {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.site-navigation nav ul.sub-menu li {
    position: relative;
    transform: translateY(15px);
    opacity: 0;
    visibility: hidden;
    transition: var(--uc-transition-duration) var(--uc-transition-timing-function);
    transition-delay: var(--uc-menu-li-delay);
}

.site-navigation nav li:hover .sub-menu li {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.site-navigation nav ul.sub-menu li a {
    color: var(--uc-secondary-color);
    display: flex;
    padding: 7px 22px;
    font-family: var(--uc-secondary-font-family);
    letter-spacing: 1px;
}

.site-navigation nav ul.sub-menu li a:hover,
.site-navigation nav ul.sub-menu li.header-submenu-active a {
    color: var(--uc-primary-color);
}

/*===== Header End =====*/

/*===== Site Menu Start =====*/
.site-menu {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.site-menu:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background: rgba($white_light_color2, 0.5);
    transition: var(--uc-transition);
}

.site-menu-btn-wp {
    height: 100%;
    width: var(--uc-spacing-x);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.site-menu-btn,
.menu-toggle {
    width: 40px;
    height: 40px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: var(--uc-transition-duration) var(--uc-transition-timing-function);
    outline: none;
    border: none;
    position: relative;
    z-index: 101;
}

.site-menu-btn:hover span:not(:last-child) {
    margin-bottom: 8px;
}

.site-menu-btn span,
.menu-toggle span {
    display: block;
    width: 100%;
    height: 1px;
    background: var(--uc-secondary-color);
    transition: var(--uc-transition-duration) var(--uc-transition-timing-function);
}

.site-menu-btn span:not(:last-child),
.menu-toggle span:not(:last-child) {
    margin-bottom: 6px;
}
/*===== Site Menu End =====*/

/*==========Sidebar Menu CSS Start==========*/

.sidebar-menu-box {
    position: fixed;
    top: 0;
    right: 0;
    max-width: 400px;
    width: 100%;
    height: 100vh;
    background: var(--uc-white-light-color);
    padding: calc(var(--uc-header-height) + 10px) 40px 40px 40px;
    display: flex;
    flex-direction: column;
    box-shadow: var(--uc-box-shadow);
    transform: translateX(110%);
    transition: all var(--uc-transition-duration) var(--uc-transition-timing-function);
    overflow-y: auto;
    backface-visibility: hidden;
    will-change: transform;
    z-index: 110;
}

.sidebar-menu-overlay {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba($secondary_color, 0.7);
    transform: scaleX(0);
    transform-origin: center right;
    transition: all var(--uc-transition-duration) var(--uc-transition-timing-function);
    z-index: 109;
}

.toggle-menu .sidebar-menu-box {
    transform: translateX(0);
}

.toggle-menu .sidebar-menu-overlay {
    transform: scaleX(1);
}

.sidebar-menu-close-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: var(--uc-transition-duration) var(--uc-transition-timing-function);
    outline: none;
    border: none;
    z-index: 5;
}

.sidebar-menu-close-btn:hover span:first-child,
.sidebar-menu-close-btn:hover span:last-child {
    transform: rotate(180deg);
}

.sidebar-menu-close-btn span {
    display: block;
    width: 100%;
    height: 1px;
    background: var(--uc-secondary-color);
    transition: var(--uc-transition-duration) var(--uc-transition-timing-function);
}

.sidebar-menu-close-btn span:first-child {
    transform: rotate(50deg);
}

.sidebar-menu-close-btn span:last-child {
    transform: rotate(-50deg);
}

.sidebar-menu-logo a {
    display: inline-block;
    width: 220px;
}

.sidebar-menu-logo a img {
    width: 100%;
}

.sidebar-instagram .h3-title {
    font-size: 25px;
    margin-bottom: 25px;
}

.sidebar-insta-imgs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.sidebar-insta-img a {
    position: relative;
    height: 0;
    padding-bottom: 100%;
    display: block;
}

.sidebar-insta-img a img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.sidebar-insta-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(var(--uc-secondary-color-rgb), 0.5);
    transition: all var(--uc-transition-duration) var(--uc-transition-timing-function);
    opacity: 0;
}

.sidebar-insta-img-overlay i {
    font-size: 1.125rem;
    width: 2rem;
    height: 2rem;
    display: inline-flex;
    transition: all var(--uc-transition-duration) var(--uc-transition-timing-function);
    transform: translate3d(0, 100%, 0);
    opacity: 0;
    border-radius: 50%;
    background-color: var(--uc-white-color);
    align-items: center;
    justify-content: center;
    will-change: transform, opacity;
}

.sidebar-insta-img a:hover {
    color: var(--uc-secondary-color);
}

.sidebar-insta-img a:hover .sidebar-insta-img-overlay {
    opacity: 1;
}

.sidebar-insta-img a:hover .sidebar-insta-img-overlay i {
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

.sidebar-copyright p a {
    color: var(--uc-primary-color);
    border-bottom: 1px solid;
}

.sidebar-copyright p a:hover {
    color: var(--uc-secondary-color);
}

/*==========Sidebar Menu CSS End==========*/
